$green: #0eb582;
$light-green: #f0fdfa;
$background_color: #1d0e15;
$black: #444;
$white: #fff;
$light_green: #f0fdfa;
$light_color: #777;
$light-white: #eee;
$border: 0.1px solid $green;
$box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.1);
.green {
  color: $green;
}
